body{
    font-size: 30px;
    background-color: black;
}
h1{
    color:white;
    padding-top: 26px;
    padding-left: 0px;
    border-right-width: 0.8;
    margin-right: 0px;
    margin-top: 99px;
    margin-left: 600px;
    padding-bottom: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 280px;
    width: 162px;
    height: 19px;
}
button{
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: goldenrod;
    background-color: black;
    border-radius: 40px;
    border: 3px solid whitesmoke;
    font-size: larger;
    margin-left: 0px;
    
}
h2{
    margin-top: 63px;
    width: 149px;
}
p{
    color: goldenrod;
    margin-left: 488px;
    margin-bottom: 0px;
    margin-top: 32px;
}
h3{
    color: goldenrod;
    margin-left: 513px;
    font-size: 30px;
}